<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="C:\Users\wei.shen\.m2\repository\mysql\mysql-connector-java\5.1.26\mysql-connector-java-5.1.26.jar"/>

    <context id="MysqlTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/dev" userId="root" password="root"></jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.fanli.scheduler.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.fanli.scheduler.mapping" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.fanli.scheduler.mapping"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="etl_task_cfg" domainObjectName="EtlTaskCfg"/>-->
        <!--<table tableName="dim_data_developer" domainObjectName="DimDateDeveloper"/>-->
        <!--<table tableName="dim_target_hive_db" domainObjectName="DimTargetHiveDb"/>-->
        <!--<table tableName="etl_load_cfg" domainObjectName="EtlLoadCfg"/>-->

        <!--<table tableName="etl_meta_table_base" domainObjectName="EtlMetaTableBase"/>-->
        <!--<table tableName="etl_meta_hivetable" domainObjectName="EtlMetaHiveTable"/>-->
        <!--<table tableName="etl_meta_column" domainObjectName="EtlMetaColumn"/>-->
        <!--<table tableName="etl_meta_partition" domainObjectName="EtlMetaPartition"/>-->

    </context>
</generatorConfiguration>