<div ng-show="step1">
    <form class="form-vertical">
        <div class="col-xs-12  col-sm-12">
            <h4 class="header smaller lighter blue">
            <span>
                <strong>传输过程配置</strong>
            </span>
            </h4>
        </div>
        <div class="alert alert-danger col-xs-12" ng-show="formInvalid">
            <strong>{{formCheckMsg}}</strong>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>源配置</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div>
                                <label class="control-label">源介质</label>
                                <select ng-model="conf_src" ng-change="sourceSelect()" class=" form-control">
                                    <option value="hive">hive</option>
                                    <option value="sqlserver">sqlserver</option>
                                    <option value="mysql">mysql</option>
                                </select>

                            </div>
                            <hr>
                            <div ng-show="conf_src == 'sqlserver'||conf_src =='mysql'">
                                <label class=" control-label">域名</label>
                                <select ng-model="conf_src_domain" class=" form-control" ng-change="src_domain_select()"
                                        ng-options="value.connectProperty as value.sourceDomain for value in src_domain_options">
                                </select>
                                <hr>
                            </div>

                            <div>
                                <label class=" control-label">源库名</label>
                                <select ng-model="conf_src_db" class=" form-control"
                                        ng-options="value as value for value in src_database_options">
                                </select>
                            </div>
                            <hr>
                            <div>
                                <label class="control-label">源表名</label>
                                <input type="text" class=" form-control"  ng-model="conf_src_table">
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>目标配置</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div>
                                <label class="control-label">目标介质</label>
                                <select ng-model="conf_target" ng-change="targetSelect()" class=" form-control">
                                    <option value="hive">hive</option>
                                    <option value="sqlserver">sqlserver</option>
                                </select>
                            </div>
                            <hr>
                            <div ng-show="conf_target == 'sqlserver'">
                                <label class=" control-label">域名</label>
                                <select ng-model="conf_target_domain" class=" form-control" ng-change="target_domain_select()"
                                        ng-options="value.connectProperty as value.sourceDomain for value in target_domain_options">

                                </select>
                            </div>
                            <hr ng-show="conf_target == 'sqlserver'">
                            <div>
                                <label class="control-label">目标库名</label>
                                <select ng-model="conf_target_db" class=" form-control"
                                        ng-options="value as value for value in target_database_options">

                                </select>
                            </div>
                            <hr>
                            <div>
                                <label class="control-label">目标表名</label>
                                <input type="text"  class=" form-control" ng-model="conf_targetTable" ng-change="setTaskName()">
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>传输过程</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div >
                                <label class="control-label">传输类型</label>
                                <select ng-model="conf_target_table_type"  class="form-control">
                                    <option value="full">全量</option>
                                    <option value="append">增量</option>
                                    <option value="snapshot">快照</option>
                                </select>
                                <hr>

                            </div>
                            <div ng-show="conf_target_table_type === 'append'&&conf_src!=''">
                                <label class="control-label">增量字段</label>
                                <select ng-model="conf_incr_field"  class="form-control" ng-change="incrFieldChange()"
                                        ng-options="value as value for value in fieldOptions">

                                </select>
                                <hr>

                            </div>
                            <!--<div>-->
                                <!--<label class="control-label">SQL</label>-->
                                <!--<textarea ng-model="conf_transfer_sql" class="form-control" rows="3" placeholder="请输入传输sql"></textarea>-->
                                <!--<hr>-->
                            <!--</div>-->
                            <div ng-show="(conf_target_table_type=='append'||conf_target_table_type=='snapshot')&&conf_target == 'hive'">
                                <label class="control-label">hive分区</label>
                                <textarea ng-model="conf_hive_partition" class="form-control" rows="2" placeholder="请输入分区，如有多个以逗号分隔"></textarea>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-right">
                <button ng-click="submitForm()" class="btn btn-success col-xs-1" style="float: right;margin: 10px">提交</button>
            </p>


        </div>

        <!--<div class="col-xs-12">-->
        <!--<div class="col-xs-12 form-group">-->
        <!--<label class="col-sm-1 control-label padding0 textRight">源介质</label>-->

        <!--<div class="col-sm-3">-->
        <!--&lt;!&ndash;<input type="text" class="width-80" ng-change="setTaskName()" ng-model="conf_src" ng-trim="true">&ndash;&gt;-->
        <!--<select ng-change="setTaskName()" ng-model="conf_src"  class="width-80 form-control">-->
        <!--<option value="sqlserver">sqlserver</option>-->
        <!--<option value="hive">hive</option>-->
        <!--<option value="mysql">mysql</option>-->
        <!--</select>-->
        <!--</div>-->

        <!--<label class="col-sm-1 control-label textRight">源库名</label>-->

        <!--<div class="col-sm-3">-->
        <!--<select ng-model="conf_src_db" ng-change="setTaskName()" class="width-80 form-control">-->
        <!--<option value="hive">hive</option>-->
        <!--<option value="sqlserver">sqlserver</option>-->
        <!--</select>-->
        <!--</div>-->

        <!--<label class="col-sm-1 control-label padding0 textRight">源表名</label>-->

        <!--<div class="col-sm-3">-->
        <!--<input type="text" class="width-80"  ng-model="conf_src_table" ng-change="setTaskName()">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12 form-group">-->
        <!--<label class="col-sm-1 control-label textRight">目标介质</label>-->

        <!--<div class="col-sm-3">-->
        <!--&lt;!&ndash;<span class="block input-icon input-icon-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text"&ndash;&gt;-->
        <!--&lt;!&ndash;class="width-80" ng-model="conf_target" ng-change="setTaskName()">&ndash;&gt;-->

        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--<select ng-model="conf_target" ng-change="targetSelect()" class="width-80 form-control">-->
        <!--<option value="hive">hive</option>-->
        <!--<option value="sqlserver">sqlserver</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<label class="col-sm-1 control-label textRight">目标库名</label>-->

        <!--<div class="col-sm-3">-->
        <!--&lt;!&ndash;<span class="block input-icon input-icon-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text"&ndash;&gt;-->
        <!--&lt;!&ndash;class="width-80" ng-model="conf_target" ng-change="setTaskName()">&ndash;&gt;-->

        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--<select ng-model="conf_target_db" ng-change="setTaskName()" class="width-80 form-control">-->
        <!--<option value="hive">hive</option>-->
        <!--<option value="sqlserver">sqlserver</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<label class="col-sm-1 control-label padding0 textRight">目标表名</label>-->

        <!--<div class="col-sm-3">-->
        <!--<input type="text" class="width-80"  ng-model="conf_targetTable" ng-change="setTaskName()">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="space-10"></div>-->
        <!--<div class="col-xs-12 form-group">-->
        <!--<label class="col-sm-1 control-label textRight">目标表类型</label>-->

        <!--<div class="col-sm-3">-->
        <!--<select ng-model="conf_target_table_type"  class="width-80 form-control">-->
        <!--<option value="full">全量</option>-->
        <!--<option value="append">增量</option>-->
        <!--<option value="snapshot">快照</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<label class="col-xs-1 control-label padding0 textRight">SQL</label>-->
        <!--<div class="col-sm-3">-->
        <!--<textarea class="form-control width-80 " rows="3" placeholder="请输入传输sql"></textarea>-->
        <!--</div>-->
        <!--<div ng-show="conf_target_table_type=='append'||conf_target_table_type=='snapshot'">-->
        <!--<label class="col-xs-1 control-label padding0 textRight">目标表分区</label>-->
        <!--<div class="col-sm-3">-->
        <!--<textarea class="form-control width-80" rows="2" placeholder="请输入分区，以逗号分隔"></textarea>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->

        <!--</div>-->
    </form>
</div>



<form class="form-vertical" ng-show="step2"  novalidate>
    <div class="col-xs-12  col-sm-12">
        <h4 class="header smaller lighter blue">
            <span>
                <strong>传输任务调度配置</strong>
            </span>
        </h4>
    </div>
    <div class="col-xs-12  col-sm-1"></div>
    <div class="col-xs-12">

        <div class="col-xs-12 form-group">

            <label class="col-sm-1 control-label padding0 textRight">任务名称</label>

            <div class="col-sm-3">
                <input type="text" class="width-80" ng-model="conf_taskName"  ng-trim="true" ng-disabled="true">
            </div>

            <label class="col-sm-1 control-label textRight">开发者</label>

            <div class="col-sm-3">
                <!--<span class="block input-icon input-icon-right">-->
					<!--<input type="text" placeholder="不限"-->
                           <!--class="width-80" ng-model="conf_developer">-->

			    <!--</span>-->
                <select ng-model="conf_developer"
                        id="form-field-select-1" class="width-80"
                        ng-options="dev as dev.chName for dev in developerOptions">

                </select>
            </div>

            <label class="col-sm-1 control-label padding0 textRight">执行频率</label>

            <div class="col-sm-3">
                <input type="text" class="width-80" name="freq" ng-model="conf_frequency">
                <!--<button class="help-button" tooltip-placement="top" tooltip="具体写法请点击" ng-click="frequencyHelp()">?-->
                <!--</button>-->
            </div>
        </div>


        <div class="col-xs-12 form-group">
            <label class="col-sm-1 control-label padding0 textRight">任务组</label>

            <div class="col-sm-3">
                <select name="taskGroup" class="width-80" ng-model="conf_taskGroup"
                        ng-options="group.ID as group.Text for group in taskGroupOptions">
                </select>
            </div>

            <label class="col-sm-1 control-label padding0 textRight">周期</label>

            <div class="col-sm-3">
                <select name="taskCycle" class="width-80" ng-model="conf_cycle"
                        ng-options="k as v for (k,v) in cycleOptions">
                </select>
            </div>


            <label class="col-sm-1 control-label padding0 textRight">优先级</label>

            <div class="col-sm-3">
                <select name="taskPriority" class="width-80" ng-model="conf_priority"
                        ng-options="priority.ID as priority.Text for priority in priorityOptions">
                </select>
            </div>
        </div>

        <div class="col-xs-12 form-group">
            <label class="col-sm-1 control-label padding0 textRight">失败重跑</label>

            <div class="col-sm-3">
                <select name="recall" class="width-80" ng-model="conf_ifRecall"
                        ng-options="ifRecall.ID as ifRecall.Text for ifRecall in ifRecallOptions"></select>
                </select>
            </div>

            <label class="col-sm-1 control-label padding0 textRight">重跑次数上限</label>

            <div class="col-sm-3">
                <select name="recallLimit" class="width-80" ng-model="conf_recallLimit"
                        ng-options="recallLimit for recallLimit in recallLimitOptions">
                </select>
            </div>

            <label class="col-sm-1 control-label padding0 textRight">失败重跑间隔</label>

            <div class="col-sm-3">
                <select name="recallInterval" class="width-80" ng-model="conf_recallInterval"
                        ng-options="recallInterval.ID as recallInterval.Text for recallInterval in recallIntervalOptions"></select>
                </select>
            </div>
        </div>

        <div class="col-xs-12 form-group">

            <label class="col-sm-1 control-label padding0 textRight">成功返回值</label>

            <div class="col-sm-3">
                <input type="text" class="width-80" ng-model="conf_successCode" ng-trim="true">
                <strong>*</strong>
            </div>

            <label class="col-sm-1 control-label padding0 textRight">等待返回码</label>

            <div class="col-sm-3">
                <input type="text" class="width-80" ng-model="conf_waitCode" ng-trim="true">
            </div>

            <label class="col-sm-1 control-label padding0 textRight">偏移量</label>

            <div class="col-sm-3">
                <select class="width-80" name="taskPeriod" ng-model="conf_offset"
                        ng-options="offset for offset in offsetOptions">
                </select>
                <!--<span class="help-button" tooltip-placement="top"-->
                <!--tooltip="D：天级偏移，M：月级偏移，字母后的数字表示具体的偏移值，D0：不偏移，D1：向前偏移一天，M2：向前偏移两月">?</span>-->
            </div>

        </div>

        <div class="col-xs-12 form-group">

            <label class="col-sm-1 control-label padding0 textRight"
                    >超时时间</label>

            <div class="col-sm-3">
                <select class="width-80" name="taskTimeout" ng-model="conf_timeout"
                        ng-options="timeout.ID as timeout.Text for timeout in timeoutOptions" required>
                </select>
                <!--<span class="help-button" tooltip-placement="top"-->
                <!--tooltip="当任务执行时间超过指定时间后，调度置其状态为timeout">?</span>-->
            </div>

            <!--<label class="col-sm-1 control-label padding0 textRight">执行命令</label>-->

            <!--<div class="col-sm-7">-->
                <!--<input type="text" class="width-95" ng-model="conf_para1" ng-trim="true">-->
                <!--<strong>*</strong>-->
                <!--&lt;!&ndash;<textarea type="text" rows=5 class="width-90" name="freq" ng-model="command">&ndash;&gt;-->
                <!--&lt;!&ndash;</textarea>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
    <div class="alert alert-danger col-xs-12" ng-show="showCfgMsg">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <strong>{{cfgMsg}}</strong>
    </div>

    <div class="col-xs-12 text-center" ng-show="Loading">
        <div class="loading" style="color: #000000;width: auto">{{LoadingMsg}}</div>
    </div>

    <div class="alert alert-success col-xs-12" ng-show="showSaveSucess">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <strong>{{saveSuccessMsg}}</strong>
    </div>

    <p class=" text-right">
        <button class="btn btn-success col-xs-1 " style="float: right;margin: 10px" ng-hide="Loading" ng-click="submitTaskCfg()">新增传输</button>
    </p>



</form>

