.taskQueryDialog .modal-dialog {
    width: 60%;
    min-width: 800px;
}

.tag {
    /*width: 70%;*/
    height: 23px;
    border: solid 1px white;
    border-radius: 0px;
    display: block;
}

.textRight {
    text-align: right;
}

.bottom10 {
    margin-bottom: 10px;
}
.statusFont {
    font-size: 16px;
}

.tag.success {
    background-color: #458B00;
}

.tag.fail {
    background-color: #FF3030;
}

.tag.init {
    background-color: #E3E3E3;
}

.tag.running {
    background-color: #63B8FF;
}

.tag.suspend {
    background-color: #878787;
}

.tag.init-error {
    background-color: #EEEE00;
}

.tag.wait {
    background-color: #EEAD0E;
}

.tag.ready {
    background-color: #FFFCC7;
}

.tag.timeout {
    background-color: #0000FF;
}

.marginR5 {
    margin-right: 5px;
}

.marginR30 {
    margin-right: 30px;
}

.marginR60 {
    margin-right: 60px;
}

.marginL5 {
    margin-left: 5px;
}

.marginT5 {
    margin-top: 5px;
}
.marginT10 {
    margin-top: 10px;
}

.marginT20 {
    margin-top: 20px;
}

.marginL0 {
    margin-left: 0px;
}

.marginR0 {
    margin-right: 0px;
}

.paddingT5 {
    padding-top: 5px;
}

.marginL10 {
    margin-left: 10px;
}

.marginL18 {
    margin-left: 18px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.vertical-center{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#feedback_content {
    margin-top: 3%;
    margin-left: 50px;
    padding: 10px;
}

#feedback_content input {
    line-height: 25px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-family:黑体
}

.feedback_label {
    width: 100%;
    background-color: #00be67;
    padding: 15px;
    font-size: large;
    color: white;
}

#feedback_content textarea {
    width: 100%;
}

#feedback_content button {
    width: 60px;
    height: 40px;
    margin-top: 10px;
    float: right;
}

#talk_aera {
    margin-left: 50px;
    margin-top: 50px
}

#fb_comment {
    margin-right: 50px;
    float: right;
    margin-top: 3%;
    padding: 10px;
}

#fb_comment ul li a{
    font-size: 16px;
    color: #080808;
}

#fb_comment ul li{
    list-style-type: none;
}

.headerText {
    font-size: 30px;
    color: white;
}